<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Billing Information</title>
    <link rel="stylesheet" th:href="@{form.css}" />
</head>
<header th:replace="header.html"></header>
<body>
<h1>Update Billing Information</h1>
<form method="post" th:object="${billing}" th:action="@{/addBilling}">
    <input type="hidden" th:field="*{id}" />
    <label for="patient">Patient:</label>
    <select id="patient" name="patient" th:field="*{patient.id}">
        <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.firstName + ' ' + patient.lastName}"></option>
    </select>
    <br><br>
    <label for="appointment1">Appointment 1:</label>
   <!-- <select id="appointment1" name="appointment" th:field="*{appointment.id}">
        <option th:each="appointment : ${appointments}" th:value="${appointment.id}" th:text="${appointment.appointmentDateTime + ' with ' + appointment.doctor}"></option>
    </select>-->
    <select id="appointment1" name="appointment" >
        <option th:each="appointment : ${appointments}" th:value="${appointment.id}" th:text="${appointment.appointmentDateTime + ' with ' + appointment.doctor}"></option>
    </select>
    <br><br>
    <label for="totalAmountDue">Total Amount Due:</label>
    <input type="text" id="totalAmountDue" name="totalAmountDue" th:value="${billing.totalAmountDue}">
    <br><br>
    <label for="paymentStatus">Payment Status:</label>
    <input type="text" id="paymentStatus" name="paymentStatus" th:value="${billing.paymentStatus}">
    <br><br>
    <input type="submit" value="Update Billing">
</form>
</body>
</html>
