<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Medical Record</title>
  <link rel="stylesheet" th:href="@{form.css}" />
</head>
<header th:replace="header.html"></header>
<body>
<h1>Add Medical Record</h1>
<form action="/saveMedicalRecord" th:object="${MedicalRecord}" method="post">

  <label for="appointments">appointments:</label>
  <select id="appointments" name="appointments">

    <option th:each="appointment : ${appointments}" th:value="${appointment.id}" th:text="${appointment.patient + ' ' + appointment.doctor}"></option>
  </select>
  <br><br>



  <label for="medicalTests">Medical Tests:</label>
  <input type="text" id="medicalTests" name="medicalTests"><br><br>

  <label for="medicalProcedures">Medical Procedures:</label>
  <input type="text" id="medicalProcedures" name="medicalProcedures"><br><br>

  <label for="currentMedication">Current Medication:</label>
  <input type="text" id="currentMedication" name="currentMedication"><br><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>
